
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
data/GTTR_CAMPUS.xls
data/GTTR_CRSE_SUBJECT.xls
data/GTTR_CRSE.xls
data/GTTR_CRSENOTE.xls
data/GTTR_INST.xls
data/GTTR_INTAKE.xls
data/GTTR_NOTETEXT.xls
data/mc-organisations.csv
data/mc-organisations_institutions.csv
data/mc-organisations_users.csv
data/mc-users.csv
data/ProviderMapper.xls
src/api-client/manage-courses-api-swagger.json